# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
.venv/
venv/
ENV/
test_env/

# 환경변수 파일
.env


# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# 기타
*.log
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/

# playground nicegui
playground/ui/.nicegui_storage/ 

# deploy
.pypirc
dist/
build/
*.egg-info/